* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(51, 39, 39);
}

.input-field {
  border: 3px solid rgb(255, 231, 231);
  border-radius: 10px;
  height: 8vh;
  margin-top: 60px;
  width: 100px;
 
}

.timer-clock {
  font-size: 100px;
  color: white;
  margin-top: 30px;
}
.start-timer,.Pause-timer,.Stop-timer{
  height: 5vh;
  border: 3px solid rgb(255, 255, 255);

  border-radius: 25px;
  margin-left: 90px;
  margin-top: 130px;
}

.start-timer{
  height: 55px;
  width: 55px;
  background-image: url("icons8-play-50.png");
  background-repeat: no-repeat;
  padding: 10px;
}
.Pause-timer{
  height: 55px;
  width: 55px;
  background-image: url("icons8-pause-50.png");
  background-repeat: no-repeat;
  padding: 10px;
}
.Stop-timer{
  height: 55px;
  width: 55px;
  background-image: url("icons8-stop-50.png");
  background-repeat: no-repeat;
  padding: 10px;
}
#hover:hover{
  transform: translateY(3px);
}
#hover:active{
  background-color: rgb(209, 153, 153);
}
#hover:focus{
  background-color: rgb(122, 238, 228);
}


.container{
  display:b;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
 margin-top: 40px;
  height: 700px;
  width: 500px;
  background-color: antiquewhite;
  
}
.field{
margin-left: 70px;
margin-top: 100px;
padding: 30px;
}